html,
body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  background: #111;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
  overflow-x: hidden;
}


#intro {
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 5;
}


#subscribeForm {
  margin: 40px auto;
	width: 500px;
  height: 80px;
	display: block;
  text-align: center;
  -webkit-perspective: 500;
  -moz-perspective: 500;
  perspective: 500;
}

#subscribeForm .input {
  -webkit-transform: translateZ(-20px);
  -webkit-transition: all .2s ease-out;
  -moz-transform: translateZ(-20px);
  -moz-transition: all .2s ease-out;
  transform: translateZ(-20px);
  transition: all .2s ease-out;
  opacity: .7;
}

#subscribeForm.hovered .input, #subscribeForm.selected .input, #subscribeForm.load .input, #subscribeForm.failure .input {
  -webkit-transform: translateZ(0px) translateY(0);
  -moz-transform: translateZ(0px) translateY(0);
  transform: translateZ(0px) translateY(0);
  opacity: 1;
}

#subscribeForm.load .input, #subscribeForm.success .input {
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  transform: translateY(-10px);
  opacity: 0;
}


#subscribeForm .input input {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  font-size: 20px;
  line-height: 40px;
  padding: 0 10px;
  font-family: 'Doppio One';
  outline: 0;
  width: 170px;
  height: 40px;
  border-radius: 0;
  background: transparent;
  border: 1px solid #888;
  color: #bbb;
  border-right: 0;
}

#subscribeForm .input input[type=email] {
  border-left: 0;
}

#subscribeForm .input input[type=submit] {
  display: inline-block;
  border-right: 1px solid #888;
  border-left: 0;
  color: #fff;
  text-transform: uppercase;
  font-size: 1em;
  width: 120px;
}

#subscribeForm .input input[type=submit]:hover {
  color: #fff !important;
}

::-webkit-input-placeholder {
  font-size: .8em;
  color: #aaa;
}

:-moz-placeholder { /* Firefox 18- */
  font-size: .8em;
  color: #aaa;
}

::-moz-placeholder {  /* Firefox 19+ */
  font-size: .8em;
  color: #aaa;
}

:-ms-input-placeholder {
  font-size: .8em;
  color: #888;
}


#subscribeForm .msg {
	width: 100%;
  position: relative;
  top: 20px;
	text-align: center;
	color: #777;
	font-size: 1em;
  opacity: 0;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

#subscribeForm.failure .msg {
    opacity: 1 !important;
}

a.skip {
  position: absolute;
  z-index: 30;
  bottom: 5%;
  left: 50%;
  width: 200px;
  margin: 0 -100px;
  text-align: center;
  color: #444;
  text-decoration: none;
  display: block;
  -webkit-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  transition: color 0.2s linear;
}
a.skip:hover {
  color: #888;
}


.links a {
  font-size: 0.8em;
  color: #333;
  font-weight: 400;
  margin: 0 10px;
  display: inline-block;
  vertical-align: middle;
}

.links a:hover {
    color: #888;
}

.links a > img {
  opacity: .45;
  transition: opacity .2s linear;
  position: relative;
  width: 110px;
}

.links a:hover > img {
  opacity: .6;
}



#body {
  position: relative;
  z-index: 10;
}


#body > section {
  min-width: 450px;
  margin: 0 auto 100px;
}

#about {
  margin-bottom: 300px;
  text-align: center;
}

p {
  width: 420px;
  color: #bbb;
  font-size: 1.1em;
  line-height: 1.4em;
  letter-spacing: 1px;
  font-weight: 200;
}


#about p {
  margin: 120px auto 40px;
}

#about a.hint {
  display: inline-block;
  color: #666;
  font-size: 0.75em;
  padding-top: 15px;
  text-decoration: none;
}

#about a.button {
  display: inline-block;
  position: relative;
  margin: 0 auto;
  padding: 10px 30px;
  background: #256BC4;
  color: #256BC4;
  font-family: 'Doppio One';
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1em;
}

#about a.button:after {
  content: "GET YOUR TICKETS";
  z-index: 7;
  padding: 10px 30px;
  color: #fff;
  font-family: 'Doppio One';
  text-transform: uppercase;
  font-size: 1em;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#about a.button:before {
  content: "";
  position: absolute;
  background: #FFED2A;
  bottom: 0;
  top: 0;
  left: 100%;
  right: 0;
  z-index: 6;
  -webkit-transition: left 0.07s ease-in;
  -moz-transition: left 0.07s ease-in;
  transition: left 0.07s ease-in;
}

#about a.button:hover:before {
  left: 0;
}
#about a.button:hover:after {
  color: #000;
}

#countdown {
  color: #fff;
}


#updates {
  padding-bottom: 50px;
}

#updates p {
  font-size: 0.9em;
  text-align: center;
  margin: 0 auto;
  width: 500px;
}

#updates p a {
  color: #ddd;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  position: relative;
  height: 185px;
  width: 500px;
  display: flex;
  align-items: center;
  -webkit-transform: translateZ(1px);
  perspective-origin: 50% 50%;
  perspective: 800px;
}

.speaker {
  overflow: hidden;
}

.speaker .bg {
  position: absolute;
  width: 100%;
  margin: -155px 0;
  -webkit-filter: blur(15px);
  -moz-filter: blur(15px);
  filter: blur(15px);
  transition: all .2s ease-out;
  opacity: 0.1;
}

.speaker .pic {
  position: absolute;
  top: 20px;
  left: 30px;
  -webkit-transform: rotateY(14deg);
  -webkit-transform-origin: 170% 50%;
  backface-visibility: hidden;
  transition: all .2s ease-out;
  width: 140px;
  height: 140px;
}

.speaker h3 {
  font-family: 'Doppio One', 'Helvetica Neue';
  font-size: 1.5em;
  text-transform: uppercase;
  color: #fff !important;
  position: absolute;
  top: 40px;
  left: 195px;
  width: 250px;
  transition: all .2s ease-out;
}

.speaker .title {
  position: absolute;
  font-family: 'Doppio One', 'Helvetica Neue';
  text-transform: uppercase;
  top: 100px;
  left: 215px;
  width: 240px;
  color: #888;
  transition: all .2s ease-out;
}

.speaker .bio p {
  display: none;
}

.speaker .bio {
  opacity: 0;
  font-family: 'Consolas', 'Courier', monospace;
  color: #eee;
  margin-left: 195px;
  width: 280px;
}


.speaker:hover .bg {
  opacity: 0.2;
}

.speaker:hover .pic {
  -webkit-transform: rotateY(24deg);
}

.speaker:hover h3 {
  opacity: 0;
}

.speaker:hover .title {
  opacity: 0;
}

.speaker:hover .bio {
  opacity: 1;
}



#footer {
  border-top: 1px solid #222;
  padding: 80px 0;
  background: #0a0a0a;
}

#footer > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#footer > div > * {
  min-width: 480px;
  max-width: 36%;
  margin-bottom: 80px;
}

#logo {
  width: 100px;
  height: 100px;
  border: 1px solid #888;
}

#footer p {
  text-align: center;
  color: #888;
  font-size: 0.9em;
  line-height: 1.4em;
  letter-spacing: 1px;
  margin: 0 auto;
  font-weight: 200;
}

#footer p a {
  color: #888;
  text-decoration: none;
  border-bottom: 1px dotted #888;
}

#footer p a:hover {
  color: #bbb;
}


@media all and (min-width: 1020px) {
    #body > section {
        width: 1020px;
        margin: 0 auto 100px;
    }

    #speakers .day {
      float: left;
    }

    #speakers .speaker {
        margin: 16px 0 0 20px;
        float: left;
    }

    #speakers .day > h4 {
        margin: 0 0 -5px 0;
        left: auto;
    }

}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}