html,
body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  background: #111;
  overflow-x: hidden;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
  overflow-x: hidden;
}


#intro {
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 5;
}


#subscribeForm {
  margin: 40px auto 0;
	width: 500px;
  height: 80px;
	display: block;
  text-align: center;
  -webkit-perspective: 500;
  -moz-perspective: 500;
  perspective: 500;
}

#subscribeForm .input {
  -webkit-transform: translateZ(-20px);
  -webkit-transition: all .2s ease-out;
  -moz-transform: translateZ(-20px);
  -moz-transition: all .2s ease-out;
  transform: translateZ(-20px);
  transition: all .2s ease-out;
  opacity: .7;
}

#subscribeForm.hovered .input, #subscribeForm.selected .input, #subscribeForm.load .input, #subscribeForm.failure .input {
  -webkit-transform: translateZ(0px) translateY(0);
  -moz-transform: translateZ(0px) translateY(0);
  transform: translateZ(0px) translateY(0);
  opacity: 1;
}

#subscribeForm.load .input, #subscribeForm.success .input {
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  transform: translateY(-10px);
  opacity: 0;
}


#subscribeForm .input input {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  font-size: 20px;
  line-height: 40px;
  padding: 0 10px;
  font-family: 'Doppio One';
  outline: 0;
  width: 170px;
  height: 40px;
  border-radius: 0;
  background: transparent;
  border: 1px solid #888;
  color: #bbb;
  border-right: 0;
}

#subscribeForm .input input[type=email] {
  border-left: 0;
}

#subscribeForm .input input[type=submit] {
  display: inline-block;
  border-right: 1px solid #888;
  border-left: 0;
  color: #fff;
  text-transform: uppercase;
  font-size: 1em;
  width: 120px;
}

#subscribeForm .input input[type=submit]:hover {
  color: #fff !important;
}

::-webkit-input-placeholder {
  font-size: .8em;
  color: #aaa;
}

:-moz-placeholder { /* Firefox 18- */
  font-size: .8em;
  color: #aaa;
}

::-moz-placeholder {  /* Firefox 19+ */
  font-size: .8em;
  color: #aaa;
}

:-ms-input-placeholder {
  font-size: .8em;
  color: #888;
}


#subscribeForm .msg {
	width: 100%;
  position: relative;
  top: 20px;
	text-align: center;
	color: #777;
	font-size: 1em;
  opacity: 0;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

#subscribeForm.failure .msg {
    opacity: 1 !important;
}

a.skip {
  position: absolute;
  z-index: 30;
  bottom: 5%;
  left: 50%;
  width: 200px;
  margin: 0 -100px;
  text-align: center;
  color: #444;
  text-decoration: none;
  display: block;
  -webkit-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  transition: color 0.2s linear;
}
a.skip:hover {
  color: #888;
}


.links a {
  font-size: 0.8em;
  color: #333;
  font-weight: 400;
  margin: 0 10px;
  display: inline-block;
  vertical-align: middle;
}

.links a:hover {
    color: #888;
}

.links a > img {
  opacity: .45;
  transition: opacity .2s linear;
  position: relative;
  width: 110px;
}

.links a:hover > img {
  opacity: .6;
}



#body {
  position: relative;
  z-index: 10;
}


#body > section {
  min-width: 450px;
  margin: 0 auto 100px;
}

#about {
  margin-bottom: 100px;
  text-align: center;
}

p {
  width: 420px;
  color: #bbb;
  font-size: 1.1em;
  line-height: 1.4em;
  letter-spacing: 1px;
  font-weight: 200;
}


#about p {
  margin: 120px auto 40px;
}

#about a.hint {
  display: inline-block;
  color: #666;
  font-size: 0.75em;
  padding-top: 15px;
  text-decoration: none;
}

a.button {
  display: inline-block;
  position: relative;
  margin: 0 auto;
  padding: 10px 30px;
  background: #256BC4;
  color: #256BC4;
  font-family: 'Doppio One';
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1em;
}

a.button:after {
  content: "GET YOUR TICKETS";
  z-index: 7;
  padding: 10px 30px;
  color: #fff;
  font-family: 'Doppio One';
  text-transform: uppercase;
  font-size: 1em;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

a.button:before {
  content: "";
  position: absolute;
  background: #FFED2A;
  bottom: 0;
  top: 0;
  left: 100%;
  right: 0;
  z-index: 6;
  -webkit-transition: left 0.07s ease-in;
  -moz-transition: left 0.07s ease-in;
  transition: left 0.07s ease-in;
}

a.button:hover:before {
  left: 0;
}
a.button:hover:after {
  color: #000;
}

#countdown {
  color: #fff;
}


#updates {
  clear: both;
  padding-bottom: 50px;
}

#updates p {
  font-size: 0.9em;
  text-align: center;
  margin: 0 auto;
  width: 500px;
}

#updates p a {
  color: #ddd;
}


#sponsors p {
  text-align: center;
  width: auto;
}

#sponsors img {
  height: 30px;
  opacity: 0.7;
  margin: 15px 25px 0;
  vertical-align: middle;
}

#sponsors a:hover img {
  opacity: 0.9;
}





#speakers {
  padding-top: 60px;
}

#speakers > .day + .day {
  margin-bottom: 120px;
}

#speakers .day {
    margin-bottom: 110px;
    position: relative;
    float: none;
}

#speakers .day > h4 {
    color: #555;
    font-size: .9em;
    padding: 15px;
    margin: 0 auto;
    width: 160px;
    position: relative;
    left: -165px;
    transform: rotate(-90deg);
    transform-origin: 33% -18%;
    text-transform: uppercase;
}


#speakers .speaker {
    margin: 20px auto 0;
    width: 480px;
    position: relative;
    clear: left;
    min-height: 65px;
}

#speakers .speaker {
    transition: all .2s ease-in;
    cursor: pointer;
}


#speakers .speaker:before {
    content: "";
    position: absolute;
    left: 70px;
    top: -11px;
    bottom: -11px;
    background: #333;
    z-index: 10;
    width: 10px;
}

#speakers .speaker > span:not(.img):after {
    content: "";
    position: absolute;
    z-index: 13;
    left: 76px;
    top: -5px;
    padding: 5px;
    margin: -6px;
    background: #111;
    transition: all .1s ease-out;
}

#speakers .speaker > span:not(.img) {
    float: left;
    width: 60px;
    margin: 4px 32px 0 0;
    color: #fff;
    font-size: 0.8em;
    text-align: right;
}

#speakers .speaker > a {
    float: left;
    height: 70px;
    width: 70px;
    margin-right: 16px;
}


#speakers .speaker > img {
    float: left;
    margin-top: 0;
    height: 70px;
    width: 70px;
    margin-right: 13px;
}

#speakers .speaker > h3 {
    color: #256BC4;
    margin-top: 2px;
    font-size: 1.1em;
    width: 460px;
    position: relative;
}

#speakers .speaker > h4 {
    margin: -14px 0 0 176px;
    text-align: left;
    font-weight: 200;
    color: #fff;
    font-size: .9em;
}

#speakers .speaker.break > h4 {
    margin-left: 94px;
}

#speakers .speaker:not(.break):hover > span:not(.img):after,
#speakers .speaker.open:not(.break) > span:not(.img):after {
    background: #FFED2A;
}

#speakers .speaker > p a {
    color: #fff;
}

#speakers .speaker > p {
    clear: left;
    width: 380px;
    padding-top: 6px;
    margin-left: 93px;
    font-size: .9em;
    line-height: 1.2em;
    height: 0;
    margin-top: 10px;
    margin-bottom: 0;
    opacity: 0;
    overflow: hidden;
    transition: opacity .3s ease-out;
}

#speakers .speaker > p + p {
    font-style: italic;
}

#speakers .speaker.open > p {
    opacity: 1;
    height: auto;
    margin-bottom: 15px;
}

#speakers .speaker img {
    height: 70px;
    width: 70px;
  box-shadow: -1px 0 3px rgba(0,0,0,.2);
}

#speakers .speaker h4 a {
    font-size: .9em;
    color: #9AE0FF;
    text-transform: none;
    text-decoration: none;
    margin-left: 5px;
}

#speakers .speaker h3 a:hover {
    color: #fff;
}

#speakers .speaker.break {
    cursor: default;
}

#sponsors {
  clear: both;
  text-align: center;
}




#footer {
  border-top: 1px solid #222;
  padding: 80px 0;
  background: #0a0a0a;
}

#footer > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#footer > div > * {
  min-width: 480px;
  max-width: 36%;
  margin-bottom: 80px;
}

#logo {
  width: 100px;
  height: 100px;
  border: 1px solid #888;
}

#footer p {
  text-align: center;
  color: #888;
  font-size: 0.9em;
  line-height: 1.4em;
  letter-spacing: 1px;
  margin: 0 auto;
  font-weight: 200;
}

#footer p a {
  color: #888;
  text-decoration: none;
  border-bottom: 1px dotted #888;
}

#footer p a:hover {
  color: #bbb;
}


@media all and (min-width: 1020px) {
    #body > section {
        width: 1020px;
        margin: 0 auto 100px;
    }

    #speakers .day {
      float: left;
    }

    #speakers .speaker {
        margin: 16px 0 0 20px;
        float: left;
    }

    #speakers .day > h4 {
        margin: 0 0 -5px 0;
        left: auto;
    }

}