html {
	height: 100%;
	height: 100vh;
  background-attachment: fixed;
  background-color: #072339;
  background-image: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%, #072339 100%), -webkit-linear-gradient(top, #115890 0%, #56aaeb 60%, rgba(24,124,201,1) 70%, #072339 100%);
  background-image: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%, #072339 100%), -moz-linear-gradient(top, #115890 0%, #56aaeb 60%, rgba(24,124,201,1) 70%, #072339 100%);
  background-image: -ms-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%, #072339 100%), -ms-linear-gradient(top, #115890 0%, #56aaeb 60%, rgba(24,124,201,1) 70%, #072339 100%);
  background-image: -o-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%, #072339 100%), -o-linear-gradient(top, #115890 0%, #56aaeb 60%, rgba(24,124,201,1) 70%, #072339 100%);
}
body {
	padding-bottom: 40px;
}
#container {
	margin: 50px auto 120px auto;
  -webkit-box-reflect: below 30px -webkit-linear-gradient(top, transparent 90%, rgba(255,255,255,0.2) 100%);
  -moz-box-reflect: below 30px -webkit-linear-gradient(top, transparent 90%, rgba(255,255,255,0.2) 100%);
}